include "shared-config.kdl"

input {
    touchpad {
        natural-scroll
    }
}

binds {
    Mod+XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "-e" "--device=kbd_backlight" "set" "+10%"; }
    Mod+XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "-e" "--device=kbd_backlight" "set" "10%-"; }
}

debug {
    render-drm-device "/dev/dri/renderD128"
}
